*{
    font-family: Damascus;
}

body{
    font-family: Damascus;
    background-color: teal;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 0;
    margin: 0em;
}
.sidebar{
    height: 100vh;
    position: sticky;
    grid-area: 1 / 1 / 7 / 2;
    background-color: #1A1A1D;
    box-shadow: 5px 10px 18px ;
    display: -ms-flexbox;
    justify-content: center;
}
.navbar{
    position: sticky;
    grid-area: 1 / 2 / 2 / 7;
    background-color: #1A1A1D;
    box-shadow: 5px 10px 18px ;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.mainbox{
    max-height:83.35vh ;
    display: grid;
    grid-area: 2 / 2 / 7 / 7;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.mainbox::-webkit-scrollbar{
    visibility: hidden;
}
.gridbox {
    background-color: #1A1A1D;
    border-radius: 8px;
    border-left: goldenrod 8px solid;
    box-shadow: 5px 10px 18px ;
    display: flex;
    flex-direction: column;
}
.gridbox .para{
    height: 70%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    margin-top: -1em;
}
.para h2{
    font-weight: 700;
}
.para p{
    margin-top: -1.25em;
}
.gridbox .itembuttons{
    height: 30%;
    display: flex;
}
.sidebox{
    background-color: #1A1A1D;
    border-radius: 8px;
    box-shadow: 5px 10px 18px ;
    border-left: goldenrod 8px solid;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow: scroll;

}
.sidebox::-webkit-scrollbar{
    display: none;
}

.rightannounce{
    margin-top: -0.09em;
    margin-top: -1.5em;
    height: fit-content;
    position: absolute;
}
.mainhero{
    margin-top: 0.4em;
    padding-left: 1em;
}
.div11 {
    padding-top: 4.5em;
    margin-top: -5.9em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 103%;
    width: 100%;
}
.one{

    grid-area: 1 / 1 / 7 / 5;
    display: -ms-flexbox;
    overflow:scroll;
    flex-wrap: wrap;
}
.one::-webkit-scrollbar{
    display: none;
}
.two{
    padding-top: 3em;
    grid-area: 1 / 5 / 7 / 7;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.two::-webkit-scrollbar{

}
h1{
    color: white;
    font-weight: 300;
}
a{
    color: white;
    text-decoration: none;
}
p{
    color: white;
}
.sidehero{
    text-align: center;
    letter-spacing: 0.3em;
    height: fit-content;
}
.sidebarlist{
    text-align: center;
    padding: 0;
    padding-top: 3em;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-between;
    align-items: center;

}
.sidebarlist li{

    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.3em;
    width: 100%;
}
.topbar{
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottombar{
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    margin-top: -0.75em;
    position: absolute;
    width: 100%;
}
#searchbar{
    height: 1.4em;
    border-radius: 50px;
    margin-left: 0.25em;
    background-color: white;
    padding-left: 0.5em;
    font-size: 2em;
    width: 80%;

}
.navicons{
    height: 70%;
    width: 30%;
    margin-right: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.searchbarholder{
    width: 60%;
    height: 60%;
    display: flex;
    margin-left: 3em
}
.svglogo{
    height: 3.4em;
}
.svglogo1{
    height: 2.4em;
    background-color: white;
    border-radius: 30px;padding: 0.5em;
}
h2{
    color: white;
}
h4{
    color: white;
}
.welcomehero{
    width: 70%;
    display: inline-flex;
    align-items: center;
    padding-left: 1em;
    gap: 1em;
}
.welcomehero h4{
    margin-top: 1.6em;
}
.welcomehero h4 span{
    font-weight: 700;
    font-size: 1.5em;

}
.buttonholders{

    width: 30%;
    display: inline-flex;

 padding-right: 1em;
    justify-content: space-evenly;
    align-items: center;
}
.navbarbuttons{

    background-color: teal;
    color: white;
    border-radius: 36px;
    padding: 0.2em  0.8em 0em;
    border: 2px white solid;
    font-size: 1.5em;
}
.navbarbuttons:hover {
    box-shadow: 5px 10px 18px black;
}
.textholderhero{
    display: inline-flex;
}
.itembuttons{
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1em;
    gap: 1em;
}
.favoriteb{
    border: none;
    filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(20deg) brightness(103%) contrast(101%);
    width: fit-content;
    height: 3em;
    width: 3em;
}
.para1{
    display: -ms-flexbox;
    padding: 1em;
    margin-top: -1em;
    border-bottom: 2px solid white;
}
.para1 h2{
    font-weight: 700;
}
.para1 p{
    margin-top: -1.25em;
}


#div1  { grid-area: 1 / 1 / 3 / 3;margin: 1em}
#div2  { grid-area: 3 / 1 / 5 / 3;margin: 1em}
#div3  { grid-area: 5 / 1 / 7 / 3;margin: 1em}
#div4  { grid-area: 5 / 3 / 7 / 5;margin: 1em}
#div5  { grid-area: 3 / 3 / 5 / 5;margin: 1em}
#div6  { grid-area: 1 / 3 / 3 / 5;margin: 1em} 
#div7  { grid-area: 1 / 1 / 4 / 3; margin: 1em}
#div8  { grid-area: 4 / 1 / 7 / 3; margin: 1em}